# Default ignored files
HELP.md
build/
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/out/
!**/src/test/**/out/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Gradle ###
.gradle

### Logs ###
*.log
